* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
    color: black;
    display: flex;
    font-family: 'Chewy', cursive;
    justify-content: center;
}

.container {
    background-color: #ffcc29;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 50px;
    margin: 50px;
}

.title {
    margin-bottom: 50px;
    text-align: center;
}

.status {
    font-size: 25px;
    color: #374045;
    text-align: center;
}

.game-board {
    background-color: #374045;
    display: grid;
    grid-gap: 5px;
    margin-top: 50px;
}

.cell {
    align-items: center;
    background-color: #ffcc29;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.set {
    display: flex;
    font-size: 20px;
    height: 30px;
    justify-content: space-between;
    margin-top: 50px;
    text-align: center;
}

.set input {
    width: 35px;
}

.reset {
    cursor: pointer;
    font-size: 25px;
    margin-top: 70px;
    text-align: center;
}

.reset:hover {
    color: #f6f5f5;
}

.invalid {
    cursor: not-allowed;
}

.x::after {
    color: #374045;
    content: 'x';
}

.o::after {
    color: #f6f5f5;
    content: 'o';
}

.o-status {
    color: #f6f5f5;
}

.x-win::after {
    color: red;
    content: 'x';
}

.o-win::after {
    color: red;
    content: 'o';
}